
.pop-up-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #05a081;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

/* .pop-up-button-wrapper:hover {
  background-color: #0056b3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
} */

.pop-up-button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.pop-up-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.pop-up-button:hover::before {
  opacity: 1;
}



.form-row {
  margin-bottom: 10px;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
}

.form-row input,
.form-row select,
.form-row textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-row select {
  height: 30px;
}

.form-row textarea {
  resize: vertical;
}



/* updated code*/

.pop-up-background {
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  z-index: 98;

  display: flex;
  justify-content: center;
  align-items: center;
 
}

.pop-up-content {
    /* Form background it is */

  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 99;  

   /* Hassan code for frosted glass effect  */

  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5); 
  box-shadow: 1px 8px rgba(0, 0, 0, 0.25); 
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-row input,
.form-row select,
.form-row textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;

  margin-top: 10px;
}

.form-buttons button {

  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #05a081;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.form-buttons button:hover {
  background-color: #04745d;
}

.form-buttons button[type='button'] {
  background-color: #ccc;
  color: black;
}

.form-buttons button[type='button']:hover {
  background-color: #bfbfbf;
}
