
/* This contains constants of our website. */
/* For the time being, the constants are pouplated with dummy values. */
/* The correct values should be updated here with the passage of time and style needs. */

:root{

    /* Themes */
    --bg-light: rgb(163,36,36);
    --text-light: rgb(233,228,220);

    --bg-dark: rgb(141,8,8);
    --text-dark: rgb(20,20,20);

    --filter-light: 245,245,245;
    --filter-dark: 210,208,206;

    /* Opacities */
    --opacity-low: 0.15;
    --opacity-medium: 0.25;
    --opacity-high: 0.4;
    --opacity-Vhigh: 1;

    /* Font Families */
    --font-family-prm: 0;
    --font-family-sec: 0;
    --font-family-ter: 0;


    /* Radius */
    --rad-small: 0;
    --rad-medium: 0;
    --rad-large: 2em;
    --rad-Xlarge: 0;
    --rad-XXlarge: 0;

    /* Paddings */
    --pad-small: 0;
    --pad-medium: 5%;
    --pad-large: 0;
    --pad-Xlarge: 0;
    --pad-XXlarge: 0;

    /* Margins */
    --mar-small: 0;
    --mar-medium: 0;
    --mar-large: 0;
    --mar-Xlarge: 0;
    --mar-XXlarge: 0;

    /* Font Sizes */
    --fs-small: 0;
    --fs-medium: 1.75em;
    --fs-large: 0;
    --fs-Xlarge: 0;
    --fs-XXlarge: 0;

    /* Font Weights */
    --fw-small: 0;
    --fw-medium: 0;
    --fw-large: 0;
    --fw-Xlarge: 0;
    --fw-XXlarge: 0;


}